---
import HomeTitle from "../components/HomeTitle";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <main class="flex min-h-screen flex-col items-center justify-center">
    <HomeTitle client:load />
    <h2 class="text-2xl font-semibold">
      by <span class="font-extrabold">AG</span>
    </h2>
    <a href="/home" class="fixed inset-0"></a>
  </main>
</MainLayout>
