---
import HomeTitle from "../components/HomeTitle";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="flex min-h-screen flex-col items-center justify-center">
    <HomeTitle client:load />
    <h2 class="text-2xl font-semibold">
      by <span class="font-extrabold">AG</span>
    </h2>
  </main>
</Layout>
