---
import MainLayout from "./MainLayout.astro";
interface Props {
  title?: string;
}

const { title } = Astro.props;
const items = [
  { label: "About" },
  { label: "Product Development" },
  {
    label: "Production",
    children: ["Doomsday", "Journal Entry 001", "Accesories"],
  },
  { label: "Art Direction" },
  { label: "Partnerships" },
  { label: "Contact" },
];
---

<MainLayout title={title}>
  <div class="px-2">
    <header>
      <h1 class="uppercase font-extrabold text-5xl">Alberto Gonzalez</h1>
    </header>
    <div class="mt-8 grid grid-cols-[200px_1fr]">
      <nav>
        <ul class="space-y-2">
          {
            items.map((item) => (
              <li class="font-extrabold text-xl">
                {item.label}
                {item.children && (
                  <ul class="ml-2">
                    {item.children.map((child) => (
                      <li class="font-normal text-lg">{child}</li>
                    ))}
                  </ul>
                )}
              </li>
            ))
          }
        </ul>
      </nav>
      <main class="w-full pb-5">
        <slot />
      </main>
    </div>
  </div>
</MainLayout>
